appdirs==1.4.4
atomicwrites==1.4.0
ecdsa==0.19.1
jsonpointer==2.1
lml==0.2.0
matplotlib==3.10.0
passlib==1.7.4
pyexcel==0.7.3
pyexcel-io==0.6.7
pyexcel-xls==0.7.1
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
python-jose==3.5.0
pyxlsb==1.0.10
rsa==4.9.1
setuptools==72.1.0
texttable==1.7.0
wheel==0.45.1
xlrd==2.0.1
xlwt==1.3.0